---
layout: default
---

<!-- Page Header -->
<div id="particles-js" class="col-lg-12 masthead text-center">
  <div id="intro">
    <div>
       <div class="brand">
          <img class="logo img-fluid d-block mx-auto" src="/assets/images/logo.png" alt="An IoT Odyssey logo">
          <h2 class="text-white">{{ site.description }}</h2>
       </div>
    </div>
 </div>

<script src="{{"/assets/vendor/particles-js/particles.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/particles-js/app.js" | relative_url }}"></script>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}

      <!-- Home Post List -->
      {% for post in site.posts limit : 5 %}

      <article class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          <h2 class="post-title">{{ post.title }}</h2>
          {% if post.subtitle %}
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
          {% else %}
          <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
          {% endif %}
        </a>
        <p class="post-meta">Posted by
          {% if post.author %}
          {{ post.author }}
          {% else %}
          {{ site.author }}
          {% endif %}
          on
          {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
        </p>
      </article>

      <hr>

      {% endfor %}

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
      </div>

    </div>
  </div>
</div>